@import url('https://fonts.cdnfonts.com/css/happy-school');   
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color:#2596be;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: 'Happy School', sans-serif;
}
